@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Mukta:wght@200;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Roboto:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Barlow Semi Condensed', sans-serif; */
}

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.alpine {
  font-family: 'Poppins', sans-serif;
}

.ul-article {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.review-img {
  width: 50px;
  aspect-ratio: auto 50 / 50;
  height: 50px;
}

.discover_button {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 14px 28px;
  border: 1px solid #187500;
  border-radius: 10px;
  /* background: rgba(0,0,0,0) -webkit-gradient(linear,left top,left bottom,from(#2ddd00),to(#187500)) repeat scroll 0 0; */
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #2ddd00, #187500) repeat scroll 0 0;
  text-shadow: 1px 1px 1px #0e4500;
  color: #fff !important;
  text-decoration: none !important;
  font-size: 30px;
  line-height: initial !important;
}

.million {
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(-225deg,
          #ececf0 0%,
          #8d5ebe 29%,
          #ff1361 67%,
          #fff800 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* display: inline-block; */

}

@keyframes textclip {
  to {
      background-position: 200% center;
  }
}

.wnever{
  float: left;
  color: #033F6C;
  font-size: 68px;
  line-height: 35px;
  padding-top: 3px;
  padding-right: 3px;
  font-family: Times, serif, Georgia;
}

@media screen and (max-width: 780px) {
  .wnever{
    font-size: 48px;
    padding-top: 5px;
  }
}